@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    box-shadow: 0px 0px 6pxrgba(0, 0, 0, .35);
    background: rgba(205, 205, 205, 1);
    background: -moz-linear-gradient(left, rgba(205, 205, 205, 1) 0%, rgba(117, 114, 114, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(205, 205, 205, 1)), color-stop(100%, rgba(117, 114, 114, 1)));
    background: -webkit-linear-gradient(left, rgba(205, 205, 205, 1) 0%, rgba(117, 114, 114, 1) 100%);
    background: -o-linear-gradient(left, rgba(205, 205, 205, 1) 0%, rgba(117, 114, 114, 1) 100%);
    background: -ms-linear-gradient(left, rgba(205, 205, 205, 1) 0%, rgba(117, 114, 114, 1) 100%);
    background: linear-gradient(to right, rgba(205, 205, 205, 1) 0%, rgba(117, 114, 114, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6115a', endColorstr='#4d1e76', GradientType=1);
}
